#
#Tue Mar 20 23:41:17 EET 2018
app.controller.host=localhost
rabbitmq.ip=localhost
rabbitmq.port=8000
rabbitmq.queue.name=RECOMMENDATIONS
app.max_db_connections_count=10
redis.ip=localhost
redis.port=6379
app.controller.port=8080
app.classes.path=target/classes/com/linkedin/replica/recommender
app.max_thread_count=20
