arangodb.user=root
arangodb.password=root

db.name=linkedin
collection.users.name=users
collection.recommendations.name=recommendations
collection.jobs.name=jobs
collection.articles.name=posts
collection.companies.name=companies
weights.like = 1
weights.comment = 5
weights.share = 15
count.trendingArticles = 5