recommendations.trending.articles=GetTrendingArticlesCommand
recommendations.trending.articles.db.handler=ArangoHandler
recommendations.trending.articles.cache.handler=JedisHandler

recommendations.jobs=RecommendJobListingCommand
recommendations.jobs.db.handler=ArangoHandler
recommendations.jobs.cache.handler=JedisHandler

recommendations.users=GetRecommendedUsersCommand
recommendations.users.db.handler=ArangoHandler
recommendations.users.cache.handler=JedisHandler