recommendations.trending.articles=GetTrendingArticlesCommand
recommendations.trending.articles.handler=ArangoHandler

recommendations.jobs=RecommendJobListingCommand
recommendations.jobs.handler=ArangoHandler

recommendations.users=GetRecommendedUsersCommand
recommendations.users.handler=ArangoHandler