recommendations.trending.articles=GetTrendingArticlesCommand
recommendations.trending.articles.db.handler=ArangoDatabaseHandler
recommendations.trending.articles.cache.handler=JedisCacheHandler

recommendations.jobs=RecommendJobListingCommand
recommendations.jobs.db.handler=ArangoDatabaseHandler
recommendations.jobs.cache.handler=JedisCacheHandler

recommendations.users=GetRecommendedUsersCommand
recommendations.users.db.handler=ArangoDatabaseHandler
recommendations.users.cache.handler=JedisCacheHandler